<!-- views/index.ejs -->
<html>
<head>
    <title>Mini Message Board</title>
</head>
<body>
    <h1>Mini Message Board</h1>
    <a href="/message">Write a Message</a>
    <ul>
        <% messages.forEach((message, index) => { %>
            <li>
                <%= message.message %>
                <form action="/message/<%= index %>" method="get">
                    <button type="submit">Open</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
